.header {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: 28px 48px 0;
}

@media (min-width: 321px) and (max-width: 768px) {
    .header {
        max-width: 768px;
        margin: 28px 24px 0;
    }
}

@media (max-width: 320px) {
    .header {
        max-width: 320px;
        margin: 16px 16px 0;
    }
}