.header {
    max-width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
    margin: 28px auto 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 767px) {
    .header {
        margin-top: 16px;
        max-width: calc(100% - 32px);
    }
}