.footer__links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
    }
}