.footer__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer__navigation {
        flex-direction: column;
    }
}