.footer {
    max-width: calc(100% - 96px);
    margin: 0 auto 24px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        max-width: 768px;
        margin: 0 24px 24px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer {
        max-width: 320px;
        margin: 0 16px 24px;
    }
}