.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

@media (min-width: 320px) and (max-width: 767px) {
    .place__website {
        margin-left: 16px;
    }
}